	*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-color: #E4E4E4;
}
.contenedor{
	margin: 50px;
}
.contenedor-login{
	margin: 20px;
	width: 400px;
	text-align: center;
	padding: 15px;
	border: 1px solid #D4D5D4;
	background-color: #fff;
}
.contenedor-login a{
	text-decoration: none;
	color: black;
}
.contenedor-login .title{
	font-size: 50px;
	font-weight: 100;
	margin: 10px;
}
.contenedor-login .input-control{
	padding-left: 20px;
	text-align: left;
	font-size: 12px;
	font-weight: 100;
	border: 1px solid #E5E7E5;
	background-color: #FBFBFB;
	margin: 5px;
	width: 300px;
	height: 35px;
}

.contenedor-login .log-btn{
	margin: 5px;
	width: 320px;
	height: 30px;
	color: white;
	border-radius: 5px 5px 5px 5px;
	border: 0px solid white;
	background-color: #3B63FF;
	cursor: pointer;
}
.contenedor-login .input-control-select{
	padding-left: 20px;
	text-align: left;
	font-size: 12px;
	font-weight: 100;
	border: 1px solid #E5E7E5;
	background-color: #FBFBFB;
	margin: 5px;
	width: 276px;
	height: 35px;
}
.contenedor-login #foto{
	height: 35px;
}
.recordar-contrasena p{
	margin: 15px;
	font-size: 14px;
	font-weight: 100;
}
.registrar-link{
	margin: 15px;
	font-size: 14px;
	font-weight: 100;
}
.registrar-link .link{
	color: blue;
}
.error{
	font-size: 14px;
	font-weight: 100;	
	margin: 7px;
	padding: 15px;
	background-color: #F03939;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
}